.botonredes
{
display: inline-flex;
width: 15px;
height: 15px;
padding: 10px;
background-color:rgb(22, 22, 23);
border-radius: 100%;
}
.botonredes img
{
  width: 15px;
  height: 15px;
}
.botonredes:hover
{
background-color:rgb(52, 249, 78);/*cambia el color de iconos redes*/
border-radius: 100%;
}
.logo-left
{
	float:left;
	padding: 30px 0px 0px 20px; /*Superior, derecho, inferior, izquierdo*/
  width: 300px;
	height: 54px;
}
.logo-center
{
  float:center;
	padding: 30px 0px 0px 0px; /*Superior, derecho, inferior, izquierdo*/
  width: 300px;
	height: 54px;
}
.logo-right
{
	float: right;
	padding: 30px 0px 0px 20px;
	width: 300px;
	height: 54px;
}
.contenedor
{
  padding: 10px 20px 10px 20px; /*Superior, derecho, inferior, izquierdo*/
	background: rgba(255, 255, 255, 0.67);
	border-radius: 0em; /* redondea el borde*/
  box-shadow: 0px 5px 3px rgba(0,0,0, .4);
}
